.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.box {
 width: 100%;
 max-width: 600px;
  border: 2px solid black;  
  padding: 16px;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}


.dialogContent {
  width: 100%;
}
.title{
  text-align: center;
}
.questionForm {
  padding: 20px;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.questionForm label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.questionForm input {
  margin-bottom: 10px;
}

.dialogActions {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.jsonEditor {
  min-height: 400px;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.dialogTitle{
  text-align: center;
  font-size: larger;
}

@media (max-width: 600px) {
  .buttonContainer {
    flex-direction: column;
  }

  .buttonContainer > * {
    width: 100%;
  }
}
